body{
    background-color: aquamarine;

    font-family: 'DotGothic16', sans-serif;
   

}

h1{
    color: fuchsia;
}
.container {
   background-color: ;
}
.profile{
    background-color: black;
}
.description{
    color: rgb(221, 158, 41);
}
.name{
    color: red;
}

.profile {
    display: flex;
    align-items: center;
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.right {
    padding-left: 100px;
}

.name {
    font-weight: bold;
    font-size: 30px;
}

.description {
    font-size: 20px;
}

.items {
    width: 120px;
    height: 60px;
    margin: 5px;
    background-color: yellow;
}

.parent {
    background-color: royalblue;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.a{
    text-align: center;
}